<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
 

    <connectionStrings>
        <add name="AssetMS.Properties.Settings.assetMSConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\assetMS.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AssetMS.Properties.Settings.AssetMSDBConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AssetMSDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AssetMS.Properties.Settings.wpamsConnectionString"
            connectionString="server=localhost;user id=root;database=wpams"
            providerName="MySql.Data.MySqlClient" />
        <add name="AssetMS.Properties.Settings.wpamsConnectionString1"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=wpams"
            providerName="MySql.Data.MySqlClient" />
        <add name="localhost_wpams_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 1" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 2" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 3" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 4" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 5" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 6" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 7" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 8" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_getOffices" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_getUsers" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_allInventories" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_ConnectionInve" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_GetItemsLoan" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_assignedItems" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_categories" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Assih" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Categoris" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_getAtate" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_querries" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_GetRepairs" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_getFromStore" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 9" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 10" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 11" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 12" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_getAssignedUser" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_ConnectionUnsa" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 13" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_ConnRepot" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_ConnDB" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_ConnLost" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 14" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Connection 15" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
        <add name="localhost_wpams_Report" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=wpams;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
  <appSettings>
    <add key="SecurityKey" value="abucheri"/>
  </appSettings>
</configuration>